 
 
 .btn-hero-section{
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 7px 25px;
    background-color: #fff;
    color: #363636;
    font-weight: 700;
    transition: 0.5s ease;

 }

 .btn-hero-section:hover{

   background-color: #CEC6B2;
   color: #363636;
   
}