@font-face {
    font-family:'Montserrat' ;
    src: url(../css/fonts/Montserrat/Montserrat-Medium.ttf);
}


*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body{
    background-color: #262626;
}

/*Navbar*/

.nav-menu{
    width: 100%;
    height: 75px;
    background-color: #fff;
    line-height: 75px;
    padding: 0px 80px; 
}



.nav-menu .logo{
    float: left;
    width: 120px;
    height: 90px;
    position: relative;
    
}

.nav-menu .logo img{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 5px;
}

.nav-menu ul{
    float: right;
}

.nav-menu li{
    list-style: none;
    display: inline-block;
}

.nav-menu ul li a{
    position: relative;
    text-decoration: none;
    color:#363636 ;
    font-size: 18px;
    padding: 0px 20px;
    font-weight: 600;
    transition: 0.5s ease;
}

.nav-menu ul li a:hover{
    color: #CEC6B2;
}

.nav-menu ul li a::after{
    content: "";
    position: absolute;
    background-color: #363636;
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-menu ul li a:hover::after{
    width:100%;
}




.checkbtn{
    color: #363636;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}

#check{
 display: none;
}



@media screen and (max-width:768px) {
  
    .nav-menu-mobile{
        padding: 0px 30px;   
    }

        .checkbtn{
            display: block;
        }

        .nav-menu-mobile .logo p{
            font-size: 30px;
        }

        .nav-menu-mobile ul{
            width: 100%;
            height: 100vh;
            background-color: #fff;
            top: 75px;
            left: -100%;
            text-align: center;
            transition: 0.4s ease;
            position: fixed;
            z-index: 1000; /*A tester !*/   
        }

        .nav-menu-mobile ul li{
            display: block;
            margin: 60px 0px;
            line-height: 20px;
        }

        #check:checked ~ul{
            left: 0;
        }
}


/*description section*/


.font-medium, .font-large, .font-text{
    color: #fff;
}

.font-medium{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
    color: #dddddd;
}

.font-large{
    font-size: 35px;
    font-weight: 600;
    color: #dddddd;
  
}

.font-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4rem;
}

.container{
    padding: 0px 80px;
}

.project-img img{
    width: 550px;
    height: auto;
    
}

.project-img{
    position: relative;
    right: 50px;
}

.wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 50px 30px;
}

.text-content{
   margin: 0px 20px;
}

.btn-look{
    border: none;
    padding: 10px 18px;
    border-radius: 40px;
    background-color: #fff;
    text-decoration: none;
    color: #363636;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn-look:hover{
    background-color: #CEC6B2;
}

.btn-description{
    margin: 30px 0px;
    
}

/*MQ descript css ALL*/

@media screen and (max-width:1024px){

    .project-img img{
        width: 450px;
        height: auto;
    }

    .text-content{
        padding-top: 65px;
    }

    .font-medium{
        font-size: 18px;
        font-weight: 600;
        margin: 15px 0px;
        color: #dddddd;
    }
    
    .font-large{
        font-size: 30px;
        font-weight: 600;
        color: #dddddd;
      
    }
    
    .font-text{
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4rem;
    }

}

@media screen and (max-width:768px){
    .wrapper{
       flex-direction: column;
       justify-content: center;
        margin :30px 20px;
        padding: 0px 40px;
    }
    

    .text-content{
        padding:20px 0px;
        margin: 0px 20px;
    }

    .project-img img{
        width: 450px;
        height: auto;
    }

    .project-img{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 30px;
    }

    .btn-look{
        border: none;
        padding: 10px 20px;
        border-radius: 40px;
        background-color: #fff;
        text-decoration: none;
        color: #363636;
        font-weight: 600;
        transition: 0.5s ease;
        font-size: 18px;
    }

    
}


@media screen and (max-width:425px){

    .container{
        padding: 0px 30px;
    }

    .project-img img{
        width: 320px;
        height: auto;
    }

    .text-content{
        margin: 0;
    }

}


@media screen and (max-width:375px){
    .wrapper{
        padding: 0;
    }

    .container{
        padding: 0px 30px;
    }

    .project-img img{
        width: 320px;
        height: auto;
    }

    .text-content{
        padding:0;
        margin: 20px 0px;
    }

    .font-medium{
        font-size: 16px;
        font-weight: 600;
        margin: 15px 0px;
        color: #dddddd;
    }
    
    .font-large{
        font-size: 28px;
        font-weight: 600;
        color: #dddddd;
      
    }
    
    .font-text{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4rem;
    }

}

@media screen and (max-width:320px){
    .project-img img{
        width: 280px;
        height: auto;
    }


    .font-text{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4rem;
    }
}

@media screen and (max-width:540px){
    .wrapper{
        padding: 0;
    }

   .container{
       padding: 0px 30px;
   }

}

@media screen and (max-width:280px){
    .project-img img{
        width: 260px;
        height: auto;
    }
}

/*Loader*/


/*Loader*/


.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.loader div{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius:50% ;
    animation: bouncer 0.5s  cubic-bezier(.19,.57,.3,.98) infinite alternate;
}

.loader div:nth-child(2){
    animation-delay: 0.1s;
    opacity: 0.8;
}

.loader div:nth-child(3){
    animation-delay: 0.2s;
    opacity: 0.6;
}

.loader div:nth-child(4){
    animation-delay: 0.3s;
    opacity: 0.4;
}

@keyframes bouncer{
    from {
        transform: translateY(0);
    }    
    to {
        transform: translateY(-100px);
    }    
}

.fondu-out{
    opacity: 0;
    transition: opacity 600ms ease;
}

.hidden {
    z-index: -1000;
  }